* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #0C0B14;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: white;
}

#root {
  width: 100%;
  max-width: 430px;
  min-height: 100vh;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

input, textarea {
  font-family: 'Poppins', sans-serif;
}
